# Introdução a tratamento de dados

Estamos iniciando a primeira aula. Neste momento, dê play para:

- Compreender a importância da limpeza e correção de dados para garantir sua qualidade e evitar conclusões errôneas em análises posteriores.

- Aplicar expressões lambda para simplificar funções em uma única linha de código.

- Analisar a estrutura dos dados utilizando comandos como head(), tail(), info(), isnull(), e sum() para identificar a presença de valores nulos e outliers.

In [1]:
# Importando as bibliotecas necessárias
import pandas as pd

In [8]:
# Gerando Dataframes dos dados de clientes
# caminho do arquivo CSV - assets\clientes.csv

df = pd.read_csv(r'C:\Users\rodri\dev\ciencia_de_dados_v2\assets\clientes.csv', encoding='utf-8')

In [9]:
# Exibindo os dados do DataFrame
print(df.head().to_string())

                      nome             cpf  idade        data                    endereco                     bairro estado
0  Sr. Vitor Gabriel Silva  640.***.***-01   90.0  1933-12-06    trevo emanuel silva, 482                 vila tirol     AP
1            Calebe Santos  651.***.***-46   40.0  1984-03-06           recanto moraes, 7         ernesto nascimento     PB
2       Maria Julia Castro  164.***.***-43    NaN  2035-04-12  residencial de pereira, 20                     jatobá     AL
3           Arthur Da Rosa  085.***.***-30   53.0  1970-04-16          parque almeida, 66  vila suzana segunda seção     SE
4             Juan Pereira  520.***.***-21   68.0  1955-10-25      rodovia de pereira, 51                    estrela     BA

In [10]:
# Exibindo os ultimos registros
print(df.tail().to_string())

                    nome             cpf  idade        data              endereco                 bairro estado
986        Eloah Peixoto  064.***.***-16   79.0  1944-05-23    rua não cadastrada  bairro não cadastrado     MG
987          Luiza Sales  726.***.***-80   56.0  1968-05-01    rua não cadastrada  bairro não cadastrado     GO
988  Dr. Alexandre Sales  427.***.***-40   87.0  1936-06-05    rua não cadastrada  bairro não cadastrado     SP
989        Alícia Campos  162.***.***-94   49.0  1975-03-20    rua não cadastrada  bairro não cadastrado     GO
990          Luigi Porto  826.***.***-83   43.0  1980-08-18  parque de santos, 88               são joão     PI

In [7]:
# Exibindo o número de linhas e colunas do DataFrame
print(f'Número de linhas: {df.shape}')

Número de linhas: (991, 7)

In [9]:
# Exibindo o tipo de dados do DataFrame
print(f'Tipo de dados: \n{df.dtypes}')

Tipo de dados:
nome         object
cpf          object
idade       float64
data         object
endereco     object
bairro       object
estado       object
dtype: object

In [10]:
# Exibindo o número de valores nulos do DataFrame
print(f'Número de valores nulos: \n{df.isnull().sum()}')

Número de valores nulos:
nome        3
cpf         0
idade       1
data        0
endereco    0
bairro      0
estado      0
dtype: int64

## Expressão lambda

In [13]:
# Função para calcular o cubo de um número
def elevar_cubo(x):
    return x ** 3

In [14]:
# Expressão lambda para calcular o cubo de um número

elevar_num_cubo = lambda x: x ** 3

In [17]:
# Textando das funções

print(elevar_cubo(2))
print(elevar_num_cubo(2))

8
8

In [20]:
# Aplicando função lambda em um dataframe 

df_numeros = pd.DataFrame({'numeros': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]})

df_numeros['cubo_função'] = df_numeros['numeros'].apply(elevar_cubo)
df_numeros['cubo_lambda'] = df_numeros['numeros'].apply(lambda x: x ** 3)
print(df_numeros)

   numeros  cubo_função  cubo_lambda
0        1            1            1
1        2            8            8
2        3           27           27
3        4           64           64
4        5          125          125
5        6          216          216
6        7          343          343
7        8          512          512
8        9          729          729
9       10         1000         1000